/*Import link for Google font*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 250%;
    text-decoration: underline;
}

h1,
h2 {
    font-family: 'Acme', sans-serif;
    color: black;
}

#title {
background-image: url('../assets/images/pngegg.png');
background-position: center center;
background-repeat: no-repeat;
max-height: 100%;
}

#title h1, h2 {
    text-align: center;
    color: #ffffff;
}

main h2 {
    color: #000000;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50%;
    padding-bottom: 20px;
    padding-top: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}

#navbar a {
    color: #000000;
}

#navbar a:hover {
    text-decoration: none;
}

main {
    background-color: rgb(255, 255, 255);
}

h3 {
    text-decoration: underline;
}

#temple-image > img {
    max-width: 100%;
    object-fit: cover;
    padding-top: 20px;
}

.seasons ul {
    list-style-type: none;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

#winter-image>img {
    max-width: 100%;
    object-fit: cover;
    padding-top: 20px;
}

/*Gallery*/

#gallery img {
    max-width:100%
}

/*Sign Up page*/

.signupbody{
    background-image: url('/../../assets/images/blossom-bg.jpg');
}

#signup {
    background: rgba(37, 63, 144, 0.2);
    margin: 20px 0px;
    padding: 50px 10px; 
}

/*Footer*/

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

#socials i {
    font-size: 200%;
}

/*Media query: tablets and bigger (768px min)*/
@media screen and (min-width: 768px) {
    /*Index*/
    #hero {
        height: 480px;
        padding-top: 10px;
    }

    #seasons-one {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #seasons-two {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #temple-image>img {
        max-width: 380px;
        padding-bottom: 50px;
    }

    #winter-image>img {
        max-width: 380px;
        padding-bottom: 50px;
    }
    /*Gallery*/
    #gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #gallery img {
        padding-top: 5px;
    }
}

/*Media query: large laptops and bigger (1400px min)*/
@media screen and (min-width: 1400px) {
    
    #hero {
        width: 1400px;
        padding: 10px 20px;
    } 

    /*Gallery*/
    #gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #gallery img {
        padding-top: 5px;
    }
}